<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn_IPP" connectionString="server=.;User ID=sa;Password=sa;database=IPP" />
    <!--<add name="Conn_IPP" connectionString="server=192.168.101.190\O2O_Dev,1433;User ID=allinpayO2O;Password=vsts@1433;database=IPP" />-->
  </connectionStrings>
  <appSettings>
    <!--URL-->
    <add key="url" value="http://test.zmyou.com/union/api/market/scenic!api.action"/>
    <!--用户名-->
    <add key="u" value="api_test"/>
    <!--密码-->
    <add key="p" value="c4ca4238a0b923820dcc509a6f75849b"/>
    <!--Key-->
    <add key="md5Key" value="ot7M30XwoGL35IOl"/>

    <!--Post提交测试URL(非任我游配置)-->
    <add key="tUrl" value="http://localhost:58870/Order/ExpressCallBack"/>
  </appSettings>
</configuration>