<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Conn_MIS2_WSTL" connectionString="server=.;User ID=sa;Password=sa;database=MIS2_WSTL"/>
    <add name="Conn_PIM2" connectionString="server=.;User ID=sa;Password=sa;database=PIM2"/>-->
    <add name="Conn_MIS2_WSTL" connectionString="server=10.0.56.206\MALLBANK;User ID=allinpaybank;Password=vsts@1433;database=MIS2_WSTL"/>
    <add name="Conn_PIM2" connectionString="server=10.0.56.206\MALLBANK;User ID=allinpaybank;Password=vsts@1433;database=PIM2"/>
  </connectionStrings>
</configuration>