<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TestAPI-20140305091018;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TestAPI-20140305091018.mdf"/>
    <add name="Conn_O2O2" connectionString="server=.;User ID=sa;Password=sa;database=O2O2"/>
    <!--<add name="Conn_O2O2" connectionString="server=192.168.101.190\O2O_Dev,1433;User ID=allinpayO2O;Password=vsts@1433;database=O2O2" />-->
  </connectionStrings>
  <appSettings>
    <!-- 是否调用应用中心的商户接口 1表示是 其余否-->
    <add  key="IsSendDataToYYZX" value="1"/>
    <!-- 应用中心的商户接口通讯地址 -->
    <add  key="APIAddressOfYYZX" value="https://188.0.61.100/asapi/allinpay/merchant"/><!--https://192.168.101.34/asapi/allinpay/merchant-->
    <!-- 应用中心的商户接口用户 -->
    <add  key="APIUserOfYYZX" value="ddmeYAdybq2G9mVLYvk7XIYe"/><!--rB4rs7IPx6MHnGROvDEmghwD-->
    <!-- 应用中心的商户接口密码 -->
    <add  key="APIPwdOfYYZX" value="M9CmPzkNxLYIVPkNE7ZcnMI7zabG4tcZ"/><!--U88IvW11G3roldbMM56tB2c4TBeXv0z0-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
</configuration>