<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn_O2O2" connectionString="server=.;User ID=sa;Password=sa;database=O2O2"/>
  </connectionStrings>
  <appSettings>
    <!--360分类数据导入URL-->
    <add key="APICategory" value="http://api.tuan.360.cn/open_category.php?format=json"/>
    <!--360城市数据导入URL-->
    <add key="APICity" value="http://tuan.360.cn/api/open_citys.php?format=json"/>
    <!--360区县商圈数据导入URL-->
    <add key="APIQXSQ" value="http://tuan.360.cn/api/open_locality.php?city={0}#format=json"/>
  </appSettings>
</configuration>